<h1>Hello World!</h1>

<h2>Burgers Devoured</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        <p>{{burger_name}}</p>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Burgers Not Devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
      <p>{{burger_name}}</p>
    </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Add A Burger</h2>
<form class="form">

  <div>
    <input type="text" id="bn" name="burger_name" placeholder="Burger Name">
  </div>

  <button type="submit">Submit</button>

</form>