<h1>Eat The Burger</h1>

<h2>Burgers Devoured</h2>
{{!-- Display burgers that have been devoured (devoured === true) --}}

<h2>Burgers NOT Devoured</h2>
{{!-- Display burgers that have NOT been devoured (devoured === false) --}}