<h1>Eat The Burger</h1>

{{!-- Display burgers that have been devoured (devoured === true) --}}
<h2>Burgers Devoured</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        <p>{{burger_name}}</p>
      </li>
    {{/if}}
  {{/each}}
</ul>

{{!-- Display burgers that have NOT been devoured (devoured === false) --}}
<h2>Burgers NOT Devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
      <p>{{burger_name}}</p>
    </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Add A Burger</h2>
<form class="form" action="/burgers" method="POST">

  <div>
    <input type="text" id="name" name="burger_name" placeholder="Burger Name">
  </div>

  <button type="submit" class="burger-button">Add A Burger</button>

</form>