<main class="container">
  {{!-- HEADDER --}}
  <header class="row">
    <div class="col m12 page-title">Eat The Burger</div>
  </header>

  {{!-- BURGER CONTENT --}}
  <div class="row">

    {{!-- LEFT SIDE OF BURGER CONTENT --}}
    <div class="col m6 left-side">
      {{!-- LEFT SIDE TITLE --}}
      <header class="row">
        <div class="col m12 left-side-title">Burgers To Devoure</div>
      </header>
      {{!-- LEFT SIDE DATA --}}
      <div class="row"> 
        <ul class="row">
          {{#each burgers}}
            {{#unless this.devoured}}
              <li class="col m12">
                <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                  <span class="not-devoured">{{this.burger_name}}</span>
                    <button class="btn waves-effect waves-light" type="submit">Devoure</button>
                </form>
              </li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>

    {{!-- RIGHT SIDE OF BURGER CONTENT --}}
    <div class="col m6 right-side">
      {{!-- RIGHT SIDE TITLE --}}
      <header class="row">
        <div class="col m12 right-side-title">Devoured Burgers</div>
      </header>
      {{!-- RIGHT SIDE DATA --}}
      <div class="row">
        <ul class="row">
          {{#each burgers}}
            {{#if this.devoured}}
              <li class="col m12">
                <span>{{this.burger_name}}</span>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
  {{!-- END BURGER CONTENT ROW --}}

  {{!-- ADD BURGER --}}
  <div class="row">
    {{!-- ADD BURGER TITLE --}}
    <header class="row">
      <div class="col m12 add-burger-title">Add A Burger</div>
    </header>
    {{!-- ADD BURGER FORM --}}
    <div class="row">
      <form action="/burgers" method="POST">
        <div class="input-field col s12">
          <input placeholder="Burger Name" id="name" name="burger_name" type="text">
        </div>
        <button class="btn waves-effect waves-light" type="submit">Add Burger</button>
      </form>
    </div>
  </div>

</main>
